body {
  background-color: #eee;
  /* padding-top: 2.5%; */
  padding-bottom: 10%;
}

.containers {
  margin-right: 4em;
  margin-left: 4em;
}

/* li {
  padding-bottom: 10px;
} */

img{
  height:35em;
  width:auto;
  margin:2em;
}

#logo{
  height:5em;
}

.collapsible li {
  padding-top: .65em;
  background-color: orange;
  padding-bottom: 0;
}

.collapsible-body {
  background-color: #546e7a;
}

.collapsible-header {
  color: orange;
  font-size: 14pt;
}

.card-title {
  font-weight: bold;
}

.section-div{
  margin-top:5em;
  height: .35em;
  width:100%;
  background-color:black;
  font-size: 14pt;
}
