body {
  background-color: #eee;
  /* padding-top: 2.5%; */
  padding-bottom: 10%;
}

.containers {
  margin-right: 4em;
  margin-left: 4em;
}

/* li {
  padding-bottom: 10px;
} */

img{
  width:30em;
  height:auto;
  margin:2em;
  margin-top:.5em;
}

#logo{
  width:25em;
  height:auto;
}

.collapsible li {
  padding-top: .65em;
  background-color: orange;
  padding-bottom: 0;
}

.collapsible-body {
  background-color: #546e7a;
  padding-left:1em !important;
  text-align:left;
}

.white-text{

}

.collapsible-header {
  color: orange;
  font-size: 14pt;
}

.card-title {
  font-weight: bold;
}

.section-div{
  margin-top:4em;
  height: .35em;
  width:100%;
  background-color:black;
  font-size: 14pt;
}

@media screen and (max-width: 1000px){
  #collapsible-1{
    width:30em;
    margin-left:1em;
  }

  #img-1{
    margin-left:0;
  }
}
